<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styling/NavigationBar.css">
    </head>
    <body>
        <div class="Nav">
            <div class="rectangle"></div>
            <header class="Nav-header">
                <img src="../static/logo.png" class="Nav-logo" alt="logo" />
                <a
                    class="Home-link"
                    href="/templates/Home.html"
                    rel="noopener noreferrer"
                >Home</a>
                <a
                    class="Browse-link"
                    href="/templates/Browse.html"
                    rel="noopener noreferrer"
                >Browse</a>
                <a
                    class="My-courses-link"
                    href="/my-courses"
                    rel="noopener noreferrer"
                >My Courses</a>
                <a
                    class="Course-info-link"
                    href="/course-info"
                    rel="noopener noreferrer"
                >Course Info</a>
                <a
                    class="Edit-course-link"
                    href="/edit-course"
                    rel="noopener noreferrer"
                >Edit Course</a>
                <button id="btn" class="Log-out" onClick="confirmation()"">Log out</button>
                <!-- <input type="text" class="Search-bar" placeholder="Search..."/> -->
            </header>
        </div>
    </body>
    <script>
        function confirmation() {
            if (window.confirm("Are you sure you want to log out?")) {
                window.open("/", "_self");
            }
            return 0;
        }
    </script>
</html>